@media only screen and (max-width: 839px) {
    .tempInput {
        flex-direction: column;
      }
      .tempInput input {
          width: 100%;
      }

       .options {
          margin: auto;
      }

}