* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
}

body, 
.card, 
.tempInput, 
.button-group, 
.displayResult li {
  display: flex;
}

.card-text, 
.tempInput, 
.displayResult,
.card-footer {
  font-size: 1.2em;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #212121 !important;
}

.card {
  width: 480px;
  flex-direction: column;
}

.card-title {
  font-size: 2em;
  color: blue;
}

.card-text {
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

.tempInput {
  justify-content: center;
}

input[type="number"] {
  text-align: center;
  padding-left: 10px;
}

select {
  padding: 10px;
}

.button-group {
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10%;
}

.btn {
  width: 50%;
  margin: 10px;
}

.displayResult p {
  margin-right: 10px;
}

.displayResult span {
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 20px;
}

.invalid {
  border: 2px solid rgba(255, 4, 0, 0.5);
}