* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.card-title {
  font-size: 3vw;
  color: blue;
  font-weight: 600;
}

.card-text {
  font-size: 1.2vw;
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

.tempInput {
  display: flex;
  font-size: 2vw;
  width: 100%;
  justify-content: center;
}

input[type="number"] {
  text-align: center;
  padding-left: 10px;
  width: 50%;
}

select {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10%;
}

.btn {
  width: 50%;
  margin: 10px;
}

.displayResult {
  font-size: 2vw;
}

.displayResult li {
  display: flex;
}

.displayResult p {
  margin-right: 10px;
}

.displayResult span {
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 20px;
}

.card-footer {
  font-size: 1.5vw;
}

.invalid {
  border: 1px solid rgb(239,83,80, 0.5);
}